<div class="row">
  <div class="col-9">
    <div class="side-content">

      <div class= "icon"> 
          <img class="img" src="favicon.ico" width="50" height="50">
           <h3>My Music Player </h3>
      </div>

      <div class="side-content">
        <div class="playlist-title">PLAYLISTS:</div>
        <div class="playlist">My top 20</div>
        <div class="playlist">Exam-jam 2018</div>
        <div class="playlist" >Gym Sesh</div>
        <div class="playlist" >BTS FAVs</div>
        <div class="playlist" >UK TOP 100</div>
        <div class="playlist" >SUMMER 2K19</div>
        <div class="playlist" >Create new playlist</div>

        <div class=lyrics-box>
          <div class=title >Lyrics box</div>
          "Sing along to your favourite tracks !" 
        </div>
      </div>

    </div>
  </div>
</div>

